<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f09959d0-a61c-4e05-902b-d550acc6d9ff" name="FunctionalTests" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f09959d0-a61c-4e05-902b-d550acc6d9fffileName">FunctionalTests</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="c49dbe33-b6c2-4564-8897-a52323d4af1d"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="97df5309-a914-451d-9ebc-353ecbf53abf"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="79672911-ded5-4417-a803-6a9272491aec"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>