<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5f4ba0e1-23e8-4bb2-84ab-32dc654af055" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://localhost:8080" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="5f4ba0e1-23e8-4bb2-84ab-32dc654af055fileName">http%3A%2F%2Flocalhost%3A8080</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8080</con:endpoint></con:endpoints></con:interface>